.spots-wrapper {
    margin-top: 130px;
    margin-right: 50px;
    margin-left: 50px;
    width: auto;
}

.all-spots {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.spots-card {
    margin: 2px;
    margin-bottom: 40px;
}

.spots-card-wrapper {
    width: 250px;
    height: 250px;
}

.spots-image {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin: 0px;
    object-fit: cover;

}

.spots-details-wrapper{
    display: flex;
    flex-direction: column;
}

.spots-details{
    display: flex;
    justify-content: space-between;
    align-items: space-around;
}

.rating{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex:1;
}


.location{
    display: flex;
    flex: 2;
}

.location, .price{
    font-weight: bold;
}
