.hidden {
    display: none;
}

/* li {
    display: inline-block;
  } */
/*
  ul {
    display: flex;
    justify-content: space-between;
  } */

.profile-button {
  height: 40px;
  width: 70px;
  /* padding: 5px 5px 5px 12px; */
  border-radius: 70px;
}

.nav-wrapper {
  position: sticky;
  width: 100%;
  margin: 0px;
  

}
